---
layout: default
---
<section class="hello">
	<div class="container">
		<h2><span>Hello</span></h2>
		<p>My name is Cheng Wang from BeiJing, China. I'm interested in Computer Vision and Machine Learning.
		</p>
		</div>
</section>

{% if site.posts.size > 0 %}
<section class="hello-blog">
	<div class="container">
		<h2>Blog</h2>
		<p>This is my blog.</p>
		<div class="card-highlight">
			<div class="card-highlight-date">
				<span class="last-post">Last Post</span>
				<span>{{ site.posts[0].date | date : '%d %b %Y' }}</span>
			</div>
			<h3>{{ site.posts[0].title }}</h3>
			{% if site.posts[0].resume.size > 0 %}
				<p class="resume">{{ site.posts[0].resume }}</p>
			{% endif %}
			<a class="cta-btn" href="{{ site.posts[0].url }}">Go to the post</a>
		</div>
	</div>
</section>
{% endif %}

<section class="main">
	<div class="container">
		<h2><span>Experience</span></h2>
		<p>I'm a senior student from <a href="http://www.hust.edu.cn/" target="_blank">Huazhong University of Science and Technology</a>, now I'm a trainee in <a href="http://www.baidu.com/" target="_blank">Baidu, BeiJing, China</a>. </p> 
	</div>
	<div class="container">
		<h2><span>Stuff on GitHub</span></h2>
		<p>I'd like share my code on GitHub in Computer Vision and Machine Learning.</p>
		<div class="card-highlight">
			<h3>OpenTLD</h3>
			<p><a href="https://github.com/jeremenichelli/classing" target="_blank">TLD</a> is a real-time algorithm for tracking of unknown objects in video streams. The object of interest is defined by a bounding box in a single frame. TLD simultaneously tracks the object, learns its appearance and detects it whenever it appears in the video. The result is a real-time tracking that often improves over time.
			I forked from <a href="https://github.com/alantrrs/OpenTLD" target="_blank">alantrrs/OpenTLD</a>
			I will add convnet to this framework in the feature</p>
			<!--这是一段注释。注释不会在浏览器中显示。-->
			<a href="https://github.com/chengwang21/OpenTLD" class="cta-btn" target="_blank">Go to the repo</a>
		</div>
	</div>
</section>
	
